
body{
    background: #34495e;
}

.loading-screen{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: auto;
}
.loading-bar{
    width: 255px;
    margin-top: 30px;
    height: 5px;
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}
.loading-bar::before{
    content: "";
    width: 68px;
    height: 5px;
    background: black;
    position: absolute;
    left: -34px;
    animation: blackBar 3.5s infinite ease;
}

@keyframes blackBar{
    50%{
        left: 222px;

    }
}


